{
  "singleQuote": true,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "printWidth": 101
}
